//colors
    $plain-white: #ffffff;
    $off-black: #252525;
    $blackish: #3c4251;
    $light-black:#464b5e;
    $off-white: #b1e0ff;
    $dark-blue: #292929;
    $blue:#4560bb;

    //Spacing
    $s-size: 1.2rem;
    $m-size: 1.6rem;
    $l-size: 3.2rem;
    $xl-size: 4.8rem;
    $desktop-breakpoint: 45rem;